@import "tailwindcss";

:root {
  --background: #ffffff;
  --cards-background: #f5f5f5;
  --foreground: #2C3E50;
  /* Flutter-based color variables */
  --primary-color: #FF7A00;
  --secondary-color: #2C3E50;
  --labels-color: #2C3E50CC;
  --hints-color: #2C3E5099;
  --placeholders-color: #2C3E5066;
  --success-color: #A8D5BA;
  --error-color: #E57373;
  --disabled-color: #2C3E5066;


}

@theme inline {
  --color-background: var(--background);
  --color-cards-background: var(--cards-background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-labels: var(--labels-color);
  --color-hints: var(--hints-color);
  --color-placeholders: var(--placeholders-color);
  --color-success: var(--success-color);
  --color-error: var(--error-color);
  --color-disabled: var(--disabled-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-md: 55rem;
}

/* Simple amimation for adding rooms and shared spaces*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-color {
  background-color: #F57C00;
}

.bg-secondary-color {
  background-color: #2C3E50;
}

.bg-labels-color {
  background-color: #2C3E50CC;
}

.bg-hints-color {
  background-color: #2C3E5099;
}

.bg-placeholders-color {
  background-color: #2C3E5066;
}

.bg-disabled-color {
  background-color: #2C3E5066;
}

.bg-success-color {
  background-color: #A8D5BA;
}

.bg-error-color {
  background-color: #E57373;
}

/* Calendar Container */
.custom-calendar .rmdp-wrapper {
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: white;
}

/* Selected Day */
.custom-calendar .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--primary-color);
  color: white;
}

/* Day | Week Day*/
.custom-calendar .rmdp-day,
.custom-calendar .rmdp-week-day {
  color: var(--secondary-color);
}

/* Hovered Day */
.custom-calendar .rmdp-day:hover {
  background-color: var(--secondary-color);
  color: white;
}

.custom-calendar .rmdp-arrow {
  border: solid var(--secondary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 3px;
  margin-top: 5px;
  padding: 2px;
  width: 3px;
}

/* Header (Month/Year area) */
.custom-calendar .rmdp-header-values {
  color: var(--secondary-color);
}

/* Today Indicator */
.custom-calendar .rmdp-today {
  border: 1px solid var(--primary-color);
}

.custom-calendar .rmdp-day.rmdp-today {
  border: none;
}

.custom-calendar .rmdp-day.rmdp-today span {
  background-color: transparent;
  color: var(--secondary-color);
}